/*==== Базове скидання стіилів ====== */

/* == Drop headers margin == */
h1,
h2,
h3,
h4,
h5,
h6,
p  {
	margin: 0;
}
/* == Pict style Для респонсивних зображень == */
img {
	display: block;
	max-width: 100%;
	/* height: auto; */

	/* object-fit: cover;
	object-position: center; */
}
/* button {
	/* Всі кнопки мають властивість  pointer
	
	cursor: pointer;  
	border: none;
} */
/* == Drop list style ==*/
ul, ol {
	list-style: none;  /*прибрали булети*/
	font-style: normal;
	margin: 0; /*прибрали стандартні поля*/
	padding-left: 0; /*прибрали стандартні поля*/
}
a {
	text-decoration: none; 
	/*прибрали підкреслення у всіх посилань*/
}

/* = Visually hidden CSS pattern = */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
/* =============================== */


/* = Базовы змінні для різних стилів = */  
:root{

	/* Загальний шрифт */
	--main-font-family: 'Montserrat', sans-serif;
  
	/* Загальний колір тексту */ 
	--main-text-color: #111111;
		
	/* Загальний колір фону */
	--main-background-color: #E2E2E2;

	--color-black: #111111;
	--color-dark-violet: #1E1823;
	--color-orange: #FD9222;
	--color-white: #FAFAFA;

	--color-butn-hover: #FCF1E0;
	--color-butn-white: #FFFFFF;
}
	
/* = =========================== = */  

body {
	font-family: var(--main-font-family);
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}
.link{
	line-height: 1.5;
	letter-spacing: 0.02m;
}


/* ===  TOP-SALLERS STYLE === */
/** Base style*/
 
/* Basic (Mobile) */
.section-top-sallers{
	padding-bottom: 72px;
}
.container-top-sallers{
	min-width: 320px;
	max-width: 375px; 
	padding: 0 20px;
	margin: 0 auto;

	position: relative;
}

/* Tablet */
@media only screen and (min-width: 768px) { 
	.container-top-sallers{
		max-width: 768px;
		padding: 0 32px;
 	}
	.section-top-sallers{
		padding-bottom: 100px;
	}
}
/* Desktop */
@media only screen and (min-width: 1200px) {
	.container-top-sallers{
		max-width: 1200px;
		padding-bottom: 72px;
  	}
  	.section-top-sallers{
		padding-bottom: 128px;
		/* padding-bottom: 200px; */
	}
}

/* ====== Text Style ====== */

.section-header-top-sallers{
	height: auto;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	
	text-align: center;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	
	color: var(--color-black);

	margin-bottom: 32px;
}
.section-header-top-sallers .accent {
	color: #FD9222;
}
@media only screen and (min-width: 768px) {
	.section-header-top-sallers{
		font-size: 24px;
		margin-bottom: 50px;
  }
}

.top-sallers-txt {
	width: 306px;
	height: 90px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.29; 

	letter-spacing: -0.02em;

	background-color: var(--main-background-color);

	color: var(--color-black);
	margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
	.top-sallers-txt{
		margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
	.top-sallers-txt{
		position: absolute;

		width: 407px;
		height: auto;
   }
}

.top-sallers-list{
	display: flex;
	flex-wrap: wrap;
	column-gap: 16px;
}
@media only screen and (min-width: 768px) {
	.top-sallers-list{
	flex-wrap: nowrap;
  }
}

.top-sallers-item:last-child{
	display: none;
}
@media only screen and (min-width: 1200px) {
	.top-sallers-item:last-child{
		display: block;
  }
}

.top-sallers-item .pict{
	border-radius: 15px;
	margin-bottom: 20px
}
@media only screen and (min-width: 768px) {
	.top-sallers-item .pict{
		margin-bottom: 32px;
  }
}

.buy-now-button{
	display: block;
	margin: 0px auto;

	cursor: pointer;  
	border: none;

	min-width: 120px;
	min-height: 41px;
	padding: 12px 28px;
	border-style: none;
	border-radius: 100px;

	background: #FD9222;
	
	color: #FFFFFF;

	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.21;
    text-align: center;

	transition-property: background-color, color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-button:hover,
.buy-now-button:focus{
	background-color: #FCF1E0;
	color:#FD9222;
}

@media only screen and (min-width: 768px) {
	.buy-now-button{
		position: absolute;

		top: 574px;
		right: 32px;

		min-width: 162px;
		min-height: 50px;
		padding: 14px 40px;
		font-size: 18px;
   	}
}

/* ==== ======== ====*/

