/*==== Базове скидання стіилів ====== */

/* == Drop headers margin == */
h1,
h2,
h3,
h4,
h5,
h6,
p  {
	margin: 0;
}
/* == Pict style ДЛя респонсивних зображень == */
img {
	display: block;
	max-width: 100%;
	height: auto;

	object-fit: cover;
	object-position: center;
}
button {
	cursor: pointer; /* Всі кнопки мають властивість  pointer*/ 
	border: none;
}
/* == Drop list style ==*/
ul, ol {
	list-style: none;  /*прибрали булети*/
	font-style: normal;
	margin: 0; /*прибрали стандартні поля*/
	padding-left: 0; /*прибрали стандартні поля*/
}
a {
	text-decoration: none; 
	/*прибрали підкреслення у всіх посилань*/
}

/* = Visually hidden CSS pattern = */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
/* ======================== */


  /* = Базовы змінні для різних стилів = */  
:root{

	/* Загальний шрифт */
	--main-font-family: 'Montserrat', sans-serif;
  
	/* Загальний колір тексту */ 
	--main-text-color: #111111;
		
	/* Загальний колір фону */
	--main-background-color: #E2E2E2;

	--color-black: #111111;
	--color-dark-violet: #1E1823;
	--color-orange: #FD9222;
	--color-white: #FAFAFA;

	--color-butn-hover: #FCF1E0;
	--color-butn-white: #FFFFFF;

	/* Others */

	--anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
	
 	/* --indent-horizontal: 72px;
 	--indent-vertical: 24px;
 	--items: 1;

	  */


/* = =========================== = */  

body {
	font-family: var(--main-font-family);
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}
.link{
	line-height: 1.5;
	letter-spacing: 0.02m;
}

/**
|============================
| Card set
|============================

.card-set {
	display: flex;
	flex-wrap: wrap;
  
	row-gap: var(--indent-horizontal);
	column-gap: var(--indent-vertical);
  }
  .card-set-item {
	flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
  }
*/

/** Base style*/
 
/* Basic (Mobile) */
.container{
	min-width: 320px;
	max-width: 375px; 
	padding: 0 20px;
	margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) { 
	.container{
		max-width: 768px;
		padding: 0 32px;
 	}
}

/* Desktop */
@media only screen and (min-width: 1200px) {
	.container{
		max-width: 1200px;
  }
}

.section{
	padding-bottom: 72px;
}
@media only screen and (min-width: 1200px) {
	.section{
		padding: 120px 0;
  }
}

/* ====== Text Style ====== */

/* .hero-header{
	display: block;
	margin: 0px auto;
	margin-bottom: ; 

	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
    color: var(--color-white);
    text-align: center;

	max-width: 320px;
} */

/* @media only screen and (min-width: 768px) {
	.hero-header{
		margin-bottom: 36px;

		font-size: 56px;
		font-weight: 700;
		line-height: 1.07;

		max-width: 496px;
  }
} */

.section-header{
	height: auto;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	
	text-align: center;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	
	color: var(--color-black);

	margin-bottom: 32px;
}
.section-header .accent {
	color: var(--color-orange);

}

.top-sallers-txt {
	width: 306px;
	height: 90px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.29; 

	letter-spacing: -0.02em;

	color: var(--color-black);
	margin-bottom: 32px;
}
@media only screen and (min-width: 1200px) {
	.text-body{

   }
}
.top-sallers-list{
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 32 px;
}

.top-sallers-item:last-child{
	display: none;
}

.top-sallers-item .pict{
	border-radius: 15px;
	margin-bottom: 20px
	
}



.button{
	display: block;
	margin: 0px auto;

	min-width: 120px;
	min-height: 41px;
	padding: 12px 28px;
	border-style: none;
	border-radius: 100px;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

	background-color: var(--color-orange);
	color: var(--color-butn-white);

	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.21;
    text-align: center;

	/* Для перехода делаем в основном стиле условия */
	transition-property: background-color, color;
	transition: var(--anime);
}
.button:hover,
.button:focus{
	background-color: var(--color-butn-hover);
	color: var(--color-orange);
}


/* ====  ======== ====*/





/* ===== Section 3 =====*/

.wedo{


	padding-top: ;
}
@media only screen and (min-width: 1200px) {
	.wedo{
		display: block;
  }
}

.wedo-list{
	display: flex;
	gap: var(--indent-vertical);
	justify-content: space-between;
}


.team{
	min-width: 320px;
	background-color: #f4f4fd;
}
.list-team{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	row-gap: var(--indent-horizontal);
	column-gap: var(--indent-vertical);
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.list-team{
		row-gap: 64px;
  }
}
.team-list{

	background-color: var(--color-white);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-head{
	text-align: center;
}
.team-card{
	padding: 32px 0px;
}
.team-txt{
	/* font-weight: 400; */
	font-size: 16px;
	line-height: 1.5;

	letter-spacing: 0.02em;

	text-align: center; 
	margin: 8px;
}
/* ====  ======== ====*/


/* .customer-item{
	flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
	--items: 2;
} */
@media only screen and (min-width: 768px) {
	.customer-item{
		--items: 3;
	}
}
@media only screen and (min-width: 1200px) {
	.customer-item{
		--items: 6;
	}
}
.customer-head {
	line-height: 1.1;	
}
.customer-link {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;

	width: 190px;
	height: 88px;
	border: 1px solid;
	border-color: #8E8F99;
	border-radius: 4px; 
	color: #8E8F99;

	transition-property: border-color, color;
	transition: var(--anime);
}
@media only screen and (min-width: 768px) {
	.customer-link{
		width: 168px;

  }
}

.customer-link:hover,
.customer-link:focus  {
	color: #404bbf;
	border-color: #404bbf; }
.customer-icon {
	fill: currentColor;
}	
/*=========================*/



.subscrb-button{
	display: block;
	margin: 0px auto;

	min-width: 164px;
	min-height: 40px;
	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	padding-left: 24px;

	background-color: var(--color-iris);
	color: var(--color-white);

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
    text-align: left;

	/* Для перехода делаем в основном стиле условия */
	transition-property: background-color;
	transition: var(--anime);
}
@media only screen and (min-width: 768px) {
	.subscrb-button{
		margin: 0;
  }
}

.subscrb-button:hover,
.subscrb-button:focus{
	background-color: var(--color-ocean);
}
.subscrb-icon{
	position: absolute;
	margin-left: 16px;

	fill: var(--color-white);
}
/*=========================*/

/* ====== ========= ====== */


/* .hero{
	min-width: 320px;
    max-width: 767px;
	height: 432px;
	padding: 112px 0;
	margin: auto; 
		
	background-color: var(--color-navy-blue);
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: 
	linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/dark-bg_mobile@1x.jpg);
		
}
@media (min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   		url(../images/hero/dark-bg_mobile@2x.jpg);
  	}
}

@media only screen and (min-width: 429px) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    	url(../images/hero/dark-bg_tablet@1x.jpg);
  	}

  @media (min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   		url(../images/hero/dark-bg_tablet@2x.jpg);
  		}
	}
}

@media only screen and (min-width: 768px) {
	.hero{
		max-width: 1199px;
		height: 436px;
   	}
}
@media only screen and (min-width: 769px) {
	.hero{
	 background-image: 
	 linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
	 url(../images/hero/people-office_desktpo@1x.jpg);
   }
   @media (min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   		url(../images/hero/people-office_desktpo@2x.jpg);
  		}
	}
}

@media only screen and (min-width: 1200px) {
	.hero{
		max-width: 1440px;
		height: 600px;
		padding: 188px 0;
	}
} */



/*==== Portfolio page styles ====*/
.portfolio{
	padding-top: 0;
	padding: 48px 0;
}
@media only screen and (min-width: 768px) {
	.portfolio{
		padding: 64px 0 96px;
  }
}
@media only screen and (min-width: 1200px) {
	.portfolio{
		padding: 100px 0 120px;
  }
}

/*==== Filter portfolio style ==== */

.filter-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	gap: 24px;
	margin-bottom: 48px;	 
}
@media only screen and (min-width: 768px) {
	.filter-list{
		justify-content: center;
		margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
	.filter-list{
		justify-content: center;
		margin-bottom: 64px;
  }
}

.flrt{
	background-color: var(--color-cloud);
	color: var(--color-iris);

	border: 1px solid ;
	border-color: #E7E9FC;
	border-radius: 4px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;

	padding: 12px 24px;

	transition-property: color, background-color, border-color, box-shadow;
	transition: var(--anime);
}
.flrt:hover,
.flrt:focus{
	color: var(--color-white);
	background-color: var(--color-ocean);
	border-color: transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*===========================*/

/* ==== Main portfolio list - auto ajust ===== */

/*Ставит карточки по ширине с не более с отступом между ними*/
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	row-gap: 48px;
	column-gap: var(--indent-vertical);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.portfolio-list{
		row-gap: var(--indent-horizontal);
  }
}

.portfolio-pict{
	width: 396px;
	height: 280px;
	object-fit: cover;
}
@media only screen and (min-width: 768px) {
	.portfolio-pict{
		width: 356px;
		height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
	.portfolio-pict{
		width: 360px;
  }
}
.portfolio-link{
	display: block;
	color: inherit;

	transition-property: box-shadow;
	transition: var(--anime);
}
.portfolio-link:hover, 
.portfolio-link:focus{
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card{
	width: 100%;
	margin: 0px;

	border: 1px solid #e7e9fc;
	border-top: none;
	
	padding: 32px 16px;
}

/* ==== Portfolio overley ===== текс поверх картинки*/
.portfolio-thumb{
	position: relative;
	overflow: hidden; /* приячет карточку с текстом*/
}
.overlay-text{
	position: absolute;
	top: 0;
	left: 0;
		
	font-size: 16px;
	line-height: 1.5; 
	letter-spacing: 0.02em;

	padding: 40px 32px; 

	width: 100%;
	height: 100%;	

	background-color: var(--color-iris);
	color: var(--color-cloud) ;

	transform: translateY(100%);

	transition-property: transform;
	transition: var(--anime);
}
.portfolio-link:focus .overlay-text{
	transform: translateY(0%);
}
.portfolio-item:hover .overlay-text{
	transform: translateY(0%);
}
/*=====================*/


/* ======= Modal window (index.html) ====== */
.backdrop /*Размытый фон*/ {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(46, 47, 66, 0.4);

	transition-property: opacity, visibility;
	transition: var(--anime);
}

.backdrop.is-hidden{
	/* Тричі приховуємо єлемент! */
	visibility: hidden; 
	opacity: 0; /*Елемент прозорий але є на сторінці*/
	pointer-events: none; /* не можемо на нього клікати, він не заважає єлементам нижче*/
}

/* == Біла плашка == */
.modal{
	/*для гнучкого розміру вікна (видимої області)*/
	width: 95%;
	max-width: 392px;
	height: 95%;
	max-height: 584px;
	overflow: scroll;

	padding: 72px 16px 24px 16px;
	
	position: absolute;
	
	/*для центрування строго по центру вінка (видимої області)*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	border-radius: 4px;

	background-color: var(--color-dairy) ;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

	transition-property: transform;
	transition: var(--anime);
}

@media only screen and (min-width: 768px) {
	.modal{
	min-height: 576px;
	width: 408px;

	padding: 72px 24px 24px 24px;
  }
}

/* == Кнопка закриття вікна == */
.modal-close-btn  {
	position: absolute;
	top: 24px;
	right: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	background: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);

	height: 24px;
	width: 24px;
	border-radius: 50%;

	transition-property: background-color, border;
	transition: var(--anime);
 	
}
.modal-close-btn:focus,
.modal-close-btn:hover {
	background-color: #404bbf;
	border: none;
	fill: #ffffff;
} 
.modal-close-icon {
	fill: inherit;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
	fill: #ffffff;
}

.contac-form-head{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: 0.02em;

	color: var(--color-navy-blue);
	
	margin-bottom: 16px;
}

.modal-form {
	display: inline;
	width: 100%;
}
.modal-label {
	display: block;
	margin-bottom: 4px;


	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.167;

	color: #8E8F99;
}
.modal-contact {
	position: relative; /* На цей div позиціонеється іконка*/
	margin-bottom: 8px ;
}
.form-field {
	width: 100%;
	min-height: 40px;

	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;

	padding-left: 38px ;

	transition-property: outline;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 	
}

.form-field:focus,
.form-comment:focus{
	outline: 1px solid #4D5AE5;
}

.form-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 19px;

	fill: var(--color-navy-blue);

	pointer-events: none;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 	
}

.form-field:focus + .form-icon{
	fill: var(--color-orange);
}

.form-comment{
	display: block;
	width: 100%;
	resize: none;
	
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;

	padding: 8px;
	margin-bottom: 16px;

	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.04em;

	color: var(--color-navy-blue);
	
	transition-property: outline;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 		
}

.form-comment::placeholder{
	font-size: 12px;
	letter-spacing: 0.04em;

	color: rgba(46, 47, 66, 0.4);

	padding-left: 8px;
}

.form-agreement {
	display: flex;
	gap: 8px;
	align-items: center;
	
	margin-bottom: 24px;

}


.form-check-input {
	appearance: none; /*Скидає налаштування від браузера по дефлоту*/
	display: block; /*для правильної роботи геометрії*/
	
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
}

.form-check-input:checked {
	border-color: var(--color-ocean);
	background-color: var(--color-ocean);
}

/* svg checkbox */
.unchecked {
	opacity: 1;
	transition-property: opacity;
	transition: var(--anime);
}
.checked {
	opacity: 0;
	transition-property: opacity;
	transition: var(--anime);
}
.form-check-input:checked + .form-custom-check > .unchecked {
	opacity: 0;
}
.form-check-input:checked + .form-custom-check > .checked {
	opacity: 1;
}
/*при спрацюванні Інпут- для форми кастом чек вибирається стан Чек. Анчек - за замовчуванням*/
/* svg checkbox */

.form-agreement-text {
	font-size: 12px;
	letter-spacing: 0.04em;
	user-select: none;
	color: #8E8F99;
}
.form-agreement-link {
	color: var(--color-iris);
	text-decoration: underline;
}

/* == ===================== == */





