/* Коментар Ctrl+/ */

/*==== Базове скидання стіилів ====== */
/* == Drop headers margin == */
h1,
h2,
h3,
h4,
h5,
h6,
p  {
	margin: 0;
}
/* == Pict style ДЛя респонсивних зображень == */
img {
	display: block;
	max-width: 100%;
	height: auto;

	object-fit: cover;
	object-position: center;
}
button {
	cursor: pointer; /* Всі кнопки мають властивість  pointer*/ 
	border: none;
	border-radius: 4px;
}
/* == Drop list style ==*/
ul, ol {
	list-style: none;  /*прибрали булети*/
	font-style: normal;
	margin: 0; /*прибрали стандартні поля*/
	padding-left: 0; /*прибрали стандартні поля*/
}
a {
	text-decoration: none; 
	/*прибрали підкреслення у всіх посилань*/
	/* color: inherit;*/
}
/* ======================== */

/* = Visually hidden CSS pattern = */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }

/* = Змінні для різних стилів = */  
:root{
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;

/* Header background, team card background */
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;

 /* Others */
 	--indent-horizontal: 72px;
 	--indent-vertical: 24px;
 	--items: 1;

	--anime: 250ms cubic-bezier(0.4, 0, 0.2, 1); /*змінна для transition*/
}
/* = =========================== = */  

/**
|============================
| Card set
|============================

.card-set {
	display: flex;
	flex-wrap: wrap;
  
	row-gap: var(--indent-horizontal);
	column-gap: var(--indent-vertical);
  }
  .card-set-item {
	flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
  }
*/

/** Base style*/
body{
    color: var(--color-slate);
	background-color: var(--color-white);

	 /*fonts*/
	font-family: 'Roboto', sans-serif;
	--primary-font: 'Roboto';
}

.link{
	line-height: 1.5;
	letter-spacing: 0.02m;
}

/*ставимо на кожну секцию через div

/* Basic (Mobile) */
.container{
	min-width: 320px;
	max-width: 428px;
	padding: 0 16px;
	margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) { 
	.container{
		max-width: 768px;
	}
  }

/* Desktop */
@media only screen and (min-width: 1200px) {
	.container{
		max-width: 1158px;
		padding: 0 15px;
  }
}

.section{
	padding: 96px 0;
}
@media only screen and (min-width: 1200px) {
	.section{
		padding: 120px 0;
  }
}

/* ====== Text Style ====== */
.hero-header{
	display: block;
	margin: 0px auto;
	margin-bottom: var(--indent-horizontal);

	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
    color: var(--color-white);
    text-align: center;

	max-width: 320px;
}
@media only screen and (min-width: 768px) {
	.hero-header{
		margin-bottom: 36px;

		font-size: 56px;
		font-weight: 700;
		line-height: 1.07;

		max-width: 496px;
  }
}

.header-section{	
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
	
	margin-bottom: var(--indent-horizontal);
}
.header-small{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
    text-align: left;
    color: var(--color-navy-blue);
	
	margin-bottom: 8px;
}
.text-body, 
.text-body-adr{
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	
	font-style: normal;
	color: var(--color-slate);
	
	transition-property: color;
	transition: var(--anime);
	
}
@media only screen and (min-width: 1200px) {
	.text-body{
		font-weight: 400;
  }
}

.text-body-medium, .text-medium-ftr {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-style: normal;
	color: var(--color-navy-blue); 

	transition-property: color;
	transition: var(--anime);
}
.text-body-medium:hover,
.text-body-medium:focus,
.text-body-adr:hover,
.text-body-adr:focus{
	color: var(--color-ocean);
}
.text-body-medium.active{
color: var(--color-ocean);
}

.text-small{
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
}
/* ====== ========= ====== */

/* ===== Header style  =======*/
.header{
    background-color: var(--color-white);
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav{
	display: flex;
	
	align-items: center;
	margin-right: auto;
}
.nav-link{
	position: relative;

	align-items: center;
	padding: 24px 0;
}
.nav-link::after{
	content: '';
	
	position: absolute;
	display: block;

	left: 0px;
	bottom: -1px;

	width: 100%;
	height: 4px;
	border-radius: 2px;	
}
.nav-link.active::after{
	background-color: #404BBF;
	}
.header-container {
	display: flex;
	align-items: center;
	min-height: 70px;
}
.header-nav-list{
	display: none;
	gap: 40px;
}
@media only screen and (min-width: 768px) {
	.header-nav-list{
		display: flex;
   	}
}
.header-adr-list{
	display: none;
	color: inherit;
}
@media only screen and (min-width: 768px) {
	.header-adr-list{
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		font-size: 12px;
   	}
}
@media only screen and (min-width: 1200px) {
	.header-adr-list{
		flex-direction: row;
		column-gap: 40px;
		font-size: 16px;
   	}
}
.header-adr,
.header-adr-item{
    color: currentColor;
}

/* ===== Section 1 ===== */

.hero{
	min-width: 320px;
    max-width: 767px;
	height: 432px;
	padding: 112px 0;
	margin: auto; /* Центруем весь блок*/
		
	background-color: var(--color-navy-blue);
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: 
	linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/dark-bg_mobile@1x.jpg);
		
}
@media (min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   		url(../images/hero/dark-bg_mobile@2x.jpg);
  	}
}

@media only screen and (min-width: 429px) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    	url(../images/hero/dark-bg_tablet@1x.jpg);
  	}

  @media (min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   		url(../images/hero/dark-bg_tablet@2x.jpg);
  		}
	}
}

@media only screen and (min-width: 768px) {
	.hero{
		max-width: 1199px;
		height: 436px;
   	}
}
@media only screen and (min-width: 769px) {
	.hero{
	 background-image: 
	 linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
	 url(../images/hero/people-office_desktpo@1x.jpg);
   }
   @media (min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
   .hero{
		background-image: 
		linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   		url(../images/hero/people-office_desktpo@2x.jpg);
  		}
	}
}

@media only screen and (min-width: 1200px) {
	.hero{
		max-width: 1440px;
		height: 600px;
		padding: 188px 0;
	}
}

.button{
	display: block;
	margin: 0px auto;

	min-width: 169px;
	min-height: 56px;
	padding: 15px 31px;
	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	background-color: var(--color-iris);
	color: var(--color-white);

	/*font-family: inherit;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
    text-align: center;

	/* Для перехода делаем в основном стиле условия */
	transition-property: background-color;
	transition: var(--anime);
}
.button:hover,
.button:focus{
	background-color: var(--color-ocean);
}

/* ===== For Logo =====*/ 
.logo{
    /* Studio */
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
 
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

	color: var(--color-iris);
	margin-right: 76px;
	
}
.logo-w{
	/*color: var(--color-iris);*/
	color: var(--color-navy-blue-modal);
}
.logo-f{
	/*color: var(--color-iris);*/
	color: var(--color-cloud);
}
/* ===== ====== =====*/

/* ===== Section 2 =====*/

.feature-item-header{
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
	
	margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
	.feature-item-header{
		text-align: left;
	}
}
@media only screen and (min-width: 1200px) {
	.feature-item-header{
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		text-align: left;
	}
}

.feature-list {
	display: flex;
	flex-wrap: wrap;
  
	row-gap: var(--indent-horizontal);
	column-gap: var(--indent-vertical);
}
.feature-item {
	flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}
@media only screen and (min-width: 768px) {
	.feature-item{
		--items: 2;
	}
}
@media only screen and (min-width: 1200px) {
	.feature-item{
		--items: 4 ;
	}
}

.feature-icon {  
	display: none;
	align-items: center;
	justify-content: center;

	height: 112px;
	width: 264px;
	margin-bottom: 8px;
	
	border-radius: 4px; 
	background-color: var(--color-cloud);
}
@media only screen and (min-width: 1200px) {
	.feature-icon{
		display: flex;
  }
}

/* ===== Section 3 =====*/
.wedo{
	display: none;
	padding-top: 0;
}
@media only screen and (min-width: 1200px) {
	.wedo{
		display: block;
  }
}

.wedo-list{
	display: flex;
	gap: var(--indent-vertical);
	justify-content: space-between;
}

/* ====  4 For Team ====*/
.team{
	min-width: 320px;
	background-color: #f4f4fd;
}
.list-team{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	row-gap: var(--indent-horizontal);
	column-gap: var(--indent-vertical);
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.list-team{
		row-gap: 64px;
  }
}
.team-list{
	background-color: var(--color-white);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-head{
	text-align: center;
}
.team-card{
	padding: 32px 0px;
}
.team-txt{
	/* font-weight: 400; */
	font-size: 16px;
	line-height: 1.5;

	letter-spacing: 0.02em;

	/* color: var(--color-slate); */

	text-align: center; 
	margin: 8px;
}
/* ====  ======== ====*/


/* =======  5 Customers ====*/

/* ==== Иконки Customers ==== */
.customer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	row-gap: var(--indent-horizontal);
	column-gap: var(--indent-vertical);

}
/* .customer-item{
	flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
	--items: 2;
} */
@media only screen and (min-width: 768px) {
	.customer-item{
		--items: 3;
	}
}
@media only screen and (min-width: 1200px) {
	.customer-item{
		--items: 6;
	}
}
.customer-head {
	line-height: 1.1;	
}
.customer-link {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;

	width: 190px;
	height: 88px;
	border: 1px solid;
	border-color: #8E8F99;
	border-radius: 4px; 
	color: #8E8F99;

	transition-property: border-color, color;
	transition: var(--anime);
}
@media only screen and (min-width: 768px) {
	.customer-link{
		width: 168px;

  }
}

.customer-link:hover,
.customer-link:focus  {
	color: #404bbf;
	border-color: #404bbf; }
.customer-icon {
	fill: currentColor;
}	
/*=========================*/


/*=== Footer styles  ======*/
.footer{
	min-width: 320px;
	
    background-color: var(--color-navy-blue);
	padding: 96px 0;
}
@media only screen and (min-width: 1200px) {
	.footer{
		padding: 100px 0;
  }
}

.footer-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 768px) {
	.footer-container{
		flex-direction: row;
		align-items: flex-start;

		column-gap: 16px;
  }
}
@media only screen and (min-width: 1200px) {
	.footer-container{
		flex-wrap: nowrap;

		column-gap: 0;
  }
}

.logo-ft, .text-medium-ftr{
	display: inline-block;
	margin: 0;
	text-align: center;
}
.footer-txt{
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-style: normal;
    color: var(--color-white);

	width: 268px;
}
.footer-lft {
	display: flex;
	flex-direction: column;
	gap: 17.5px;
	margin-bottom: 72px;
}
.footer-rt{
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
	.footer-lft, 
	.footer-rt {
		align-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
	.footer-lft{
		margin-bottom: 0;
		margin-right: 120px;
	}
	.footer-rt{
		margin-bottom: 0;
		margin-right: 80px;
	}
}

.footer-subscribe{
	width: 100%;
	/* display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 16px;*/
}

@media only screen and (min-width: 768px) {
	.footer-subscribe {
		width: none;

		max-width: 495px;
		align-items: flex-start;
	}
 	.subscribe-form{
		display: flex;
	}
}
/* @media only screen and (min-width: 1200px) {
	.footer-subscribe{
		max-width: 455px;
	}
} */
.subscrb-txt{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	letter-spacing: 0.02em;
	color: var(--color-white);
	text-align: center;

	margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
	.subscrb-txt{
		text-align: left;
  }
}

.subscrb-email{
	border-style: none;
	width: 100%;
	height: 40px;

	border-radius: 4px;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	padding-left: 16px;
	font-size: 14px;

	margin-bottom: 16px;

	color: var(--color-white);

	transition-property: outline, border;
	transition: var(--anime);
}
@media only screen and (min-width: 768px) {
	.subscrb-email {
		width: 264px;
		margin-bottom: 0;

		margin-right: 24px;
	  }
}

.subscrb-email:focus{
	border: none;
	outline: 1px solid var(--color-iris);
}

.subscrb-email::placeholder{
	font-size: 12px;
	line-height: 2;
/* identical to box height, or 200% */
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;

	color: var(--color-white);
}

.subscrb-button{
	display: block;
	margin: 0px auto;

	min-width: 164px;
	min-height: 40px;
	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	padding-left: 24px;

	background-color: var(--color-iris);
	color: var(--color-white);

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
    text-align: left;

	/* Для перехода делаем в основном стиле условия */
	transition-property: background-color;
	transition: var(--anime);
}
@media only screen and (min-width: 768px) {
	.subscrb-button{
		margin: 0;
  }
}

.subscrb-button:hover,
.subscrb-button:focus{
	background-color: var(--color-ocean);
}
.subscrb-icon{
	position: absolute;
	margin-left: 16px;

	fill: var(--color-white);
}
/*=========================*/


/* ==== Иконки социальных сетей ==== */
.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
.socials-ftr {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
.socials-link,
.socials-link-ftr {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	border-radius: 50%; /* Делает круг из квадрата*/
	background-color: var(--color-iris);

	transition-property: background-color;
	transition: var(--anime);
}
.social-icon {
	fill: var(--color-cloud);
}
.socials-link:hover,
.socials-link:focus {
	background-color: var(--color-ocean);
}
.socials-link-ftr:hover,
.socials-link-ftr:focus {
	background-color: var(--color-green);
}
/* ========================== */


/*==== Portfolio page styles ====*/
.portfolio{
	padding-top: 0;
	padding: 48px 0;
}
@media only screen and (min-width: 768px) {
	.portfolio{
		padding: 64px 0 96px;
  }
}
@media only screen and (min-width: 1200px) {
	.portfolio{
		padding: 100px 0 120px;
  }
}

/*==== Filter portfolio style ==== */

.filter-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	gap: 24px;
	margin-bottom: 48px;	 
}
@media only screen and (min-width: 768px) {
	.filter-list{
		justify-content: center;
		margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
	.filter-list{
		justify-content: center;
		margin-bottom: 64px;
  }
}

.flrt{
	background-color: var(--color-cloud);
	color: var(--color-iris);

	border: 1px solid ;
	border-color: #E7E9FC;
	border-radius: 4px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;

	padding: 12px 24px;

	transition-property: color, background-color, border-color, box-shadow;
	transition: var(--anime);
}
.flrt:hover,
.flrt:focus{
	color: var(--color-white);
	background-color: var(--color-ocean);
	border-color: transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*===========================*/

/* ==== Main portfolio list - auto ajust ===== */

/*Ставит карточки по ширине с не более с отступом между ними*/
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	row-gap: 48px;
	column-gap: var(--indent-vertical);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.portfolio-list{
		row-gap: var(--indent-horizontal);
  }
}

.portfolio-pict{
	width: 396px;
	height: 280px;
	object-fit: cover;
}
@media only screen and (min-width: 768px) {
	.portfolio-pict{
		width: 356px;
		height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
	.portfolio-pict{
		width: 360px;
  }
}
.portfolio-link{
	display: block;
	color: inherit;

	transition-property: box-shadow;
	transition: var(--anime);
}
.portfolio-link:hover, 
.portfolio-link:focus{
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card{
	width: 100%;
	margin: 0px;

	border: 1px solid #e7e9fc;
	border-top: none;
	
	padding: 32px 16px;
}

/* ==== Portfolio overley ===== текс поверх картинки*/
.portfolio-thumb{
	position: relative;
	overflow: hidden; /* приячет карточку с текстом*/
}
.overlay-text{
	position: absolute;
	top: 0;
	left: 0;
		
	font-size: 16px;
	line-height: 1.5; 
	letter-spacing: 0.02em;

	padding: 40px 32px; 

	width: 100%;
	height: 100%;	

	background-color: var(--color-iris);
	color: var(--color-cloud) ;

	transform: translateY(100%);

	transition-property: transform;
	transition: var(--anime);
}
.portfolio-link:focus .overlay-text{
	transform: translateY(0%);
}
.portfolio-item:hover .overlay-text{
	transform: translateY(0%);
}
/*=====================*/

/* ======= Modal window (index.html) ====== */
.backdrop /*Размытый фон*/ {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(46, 47, 66, 0.4);

	transition-property: opacity, visibility;
	transition: var(--anime);
}

.backdrop.is-hidden{
	/* Тричі приховуємо єлемент! */
	visibility: hidden; 
	opacity: 0; /*Елемент прозорий але є на сторінці*/
	pointer-events: none; /* не можемо на нього клікати, він не заважає єлементам нижче*/
}

/* == Біла плашка == */
.modal{
	/*для гнучкого розміру вікна (видимої області)*/
	width: 95%;
	max-width: 392px;
	height: 95%;
	max-height: 584px;
	overflow: scroll;

	padding: 72px 16px 24px 16px;
	
	position: absolute;
	
	/*для центрування строго по центру вінка (видимої області)*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	border-radius: 4px;

	background-color: var(--color-dairy) ;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

	transition-property: transform;
	transition: var(--anime);
}

@media only screen and (min-width: 768px) {
	.modal{
	min-height: 576px;
	width: 408px;

	padding: 72px 24px 24px 24px;
  }
}

/* == Кнопка закриття вікна == */
.modal-close-btn  {
	position: absolute;
	top: 24px;
	right: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	background: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);

	height: 24px;
	width: 24px;
	border-radius: 50%;

	transition-property: background-color, border;
	transition: var(--anime);
 	
}
.modal-close-btn:focus,
.modal-close-btn:hover {
	background-color: #404bbf;
	border: none;
	fill: #ffffff;
} 
.modal-close-icon {
	fill: inherit;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
	fill: #ffffff;
}

.contac-form-head{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: 0.02em;

	color: var(--color-navy-blue);
	
	margin-bottom: 16px;
}

.modal-form {
	display: inline;
	width: 100%;
}
.modal-label {
	display: block;
	margin-bottom: 4px;


	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.167;

	color: #8E8F99;
}
.modal-contact {
	position: relative; /* На цей div позиціонеється іконка*/
	margin-bottom: 8px ;
}
.form-field {
	width: 100%;
	min-height: 40px;

	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;

	padding-left: 38px ;

	transition-property: outline;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 	
}

.form-field:focus,
.form-comment:focus{
	outline: 1px solid #4D5AE5;
}

.form-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 19px;

	fill: var(--color-navy-blue);

	pointer-events: none;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 	
}

.form-field:focus + .form-icon{
	fill: var(--color-iris);
}

.form-comment{
	display: block;
	width: 100%;
	resize: none;
	
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;

	padding: 8px;
	margin-bottom: 16px;

	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.04em;

	color: var(--color-navy-blue);
	
	transition-property: outline;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 		
}

.form-comment::placeholder{
	font-size: 12px;
	letter-spacing: 0.04em;

	color: rgba(46, 47, 66, 0.4);

	padding-left: 8px;
}

.form-agreement {
	display: flex;
	gap: 8px;
	align-items: center;
	
	margin-bottom: 24px;

}


.form-check-input {
	appearance: none; /*Скидає налаштування від браузера по дефлоту*/
	display: block; /*для правильної роботи геометрії*/
	
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;

}

.form-check-input:checked {
	border-color: var(--color-ocean);
	background-color: var(--color-ocean);
}

/* svg checkbox */
.unchecked {
	opacity: 1;
	transition-property: opacity;
	transition: var(--anime);
}
.checked {
	opacity: 0;
	transition-property: opacity;
	transition: var(--anime);
}
.form-check-input:checked + .form-custom-check > .unchecked {
	opacity: 0;
}
.form-check-input:checked + .form-custom-check > .checked {
	opacity: 1;
}
/*при спрацюванні Інпут- для форми кастом чек вибирається стан Чек. Анчек - за замовчуванням*/
/* svg checkbox */

.form-agreement-text {
	font-size: 12px;
	letter-spacing: 0.04em;
	user-select: none;
	color: #8E8F99;
}
.form-agreement-link {
	color: var(--color-iris);
	text-decoration: underline;
}

/* == ===================== == */

/* == Mobile-menu == */

.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
  
	margin: 0;
	margin-left: auto;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 0;
	outline: none;

	stroke: var(--color-navy-blue);
	/* fill: var(--color-navy-blue); */

	transition-property: stroke;
	transition: var(--anime);
}
@media (min-width: 768px) {
	.menu-toggle {
	  display: none;
	}
}
.menu-toggle:hover,
.menu-toggle:focus {
	stroke: var(--color-ocean);
}
.menu-close-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	position: absolute;
	top: 24px;
	right: 24px;

	height: 24px;
	width: 24px;
	border-radius: 50%;

	background: rgba(232, 234, 252, 0.1);
	border: 1px solid rgba(46, 47, 66, 0.1);
}	  
.menu-container {
  	position: fixed;
  	top: 0;
 	left: 0;

	display: flex;
	flex-direction: column;

	width: 100vw;
  	height: 100vh;
  	padding: 80px 0 40px 40px;
  	background-color: var(--color-white);
  	z-index: 999;

  	transform: translateX(100%);
  	transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  	transform: translateX(0);
}
.menu-container .menu-toggle {
  	position: absolute;
  	top: 16px;
  	right: 16px;
  	color: var(--color-grey);
}
.mobile-menu {
  	margin-bottom: auto;
}
.mobile-menu .link {
  	display: block;
  	padding: 0;
  	color: var(--color-navy-blue);
  	text-decoration: none;

  	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
    
	margin-bottom: 40px;
}
.mobile-menu .link.active{
	color: var(--color-ocean);
}
.link:hover,
.link:focus {
	color: var(--color-ocean);
}
.mobile-contacts .link{
	display: block;
	margin-bottom: 40px;
}
.mobile-contacts{
	margin-bottom: 8px;
} 
.mobile-phone{
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: var(--color-iris) ;
}
.mobile-mail{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--color-slate);
}
.mobile-socials{
	justify-content: flex-start;
	gap: 24px;
}
@media only screen and (min-width: 420px) {
	.mobile-phone{
		font-size: 36px;
	}
	.mobile-socials{
		gap: 56px;
  }
}

/* == =========== == */


